.button-container {
  display: flex;
  width: 100%;
}

.circle1 {
  transform: translate(-50%, 100%);
}
.circle2 {
  transform: translate(-32.5%, 25%);
}
.circle3 {
  transform: translate(-10%, 0%);
}
.circle4 {
  transform: translate(-50%, 0%);
}

.circle5 {
  transform: translate(50%, 0%);
}
.circle6 {
  transform: translateX(10%, 0%);
}
.circle7 {
  transform: translate(32.5%, 25%);
}
.circle8 {
  transform: translate(50%, 100%);
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
