@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, ‘Roboto’, ‘Oxygen’,
    ‘Ubuntu’, ‘Cantarell’, ‘Fira Sans’, ‘Droid Sans’, ‘Helvetica Neue’,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, ‘Courier New’,
    monospace;
}

@layer components {
    @keyframes ripple {
      to {
        transform: scale(4);
        opacity: 0;
      }
    }
  
    .animate-ripple {
      animation: ripple 0.6s linear;
    }
  }

.font-helvetica {
font-family: 'Helvetica', sans-serif;
}
  
/* index.css or a separate CSS file */
.drum-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust gap as needed */
  }
  
  .drum-button {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px; /* Add margin to control spacing */
  }
  
  .video-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
  }
  
  .video-popup.active {
    display: block;
  }

  /* Example styles for the game */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .bg-lightblue {
    background-color: #add8e6;
  }
  
  .w-8 {
    width: 2rem;
  }
  
  .h-8 {
    height: 2rem;
  }
  
  .bg-black {
    background-color: #000;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .absolute {
    position: absolute;
  }
  
  .relative {
    position: relative;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .bottom-0 {
    bottom: 0;
  }
  
  .left-0 {
    left: 0;
  }
  
  .right-0 {
    right: 0;
  }
  
  .h-16 {
    height: 4rem;
  }
  
  .bg-gray-700 {
    background-color: #4a5568;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .text-center {
    text-align: center;
  }
  

  
  